.block{
    background: #ccc;
    width:100%;
    float: left;
    .container{
        max-width: 960px;
        margin: 0 auto;
        padding: 15px;
        .content{
            background: pink;
            @media (min-width: 768px) {
                background: yellow;
            }
            @media (min-width: 991px) {
                background: orange;
            }
        }
    }
}